* {
	margin: 0;
	padding: 0;
}
.wrapper {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 829px;
}
header {
	background: url("./images/header.png") no-repeat transparent 0 0;
	height: 366px;
	text-align: left;
	width: 829px;
}
.phone {
	background-color: rgba(255,255,255,.3);
	color: #6286C4;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	line-height: 46px;
	padding: 15px; 
}
.content {
	background: url("./images/main.png") transparent no-repeat bottom center;
	min-height: 419px;
	position: relative;
}
.content__main {
	margin-top: 15px;
	padding: 0 30px 30px;
}
.content-main__menu {
	font-size: 13px;
	float: left;
	display: table;
	text-align: left;
	width: 152px;
}
ul {
    list-style-type: none;
    padding: 0px;
	margin-left: 22px
}
li {
    background-image: url(./images/drop.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    margin-bottom: 15px;
}
.left__menu {
    margin: 0px;
}
.left-menu__text {
	color: #707070;
	text-decoration: none;
}
.left-menu__text:hover {
	color: #000;
}
.content-main__center {
	display: table;
	width: 610px;
}
.footer {
	text-align: right;
}
.footer__text {
	bottom: 10px;
	color: #1d1b1b;
	font-size: 12px;
	font-family: arial. sans-serif;
	position: relative;
	right: 10px;
	text-align: left;
	width: 146px;
	display: inline-block;
}
.firm-label {
	color: #1d1b1b;
	text-decoration: none;
	font-size: 28px;
}
.firm-label img {
	display: inline-block;
	height: 32px;
	margin-bottom: -7px;
	margin-right: -6px;
	width: 60px;
}
.navigation {
	display: table-cell;
	float: left;
	height: 200px;
	width: 300px;
}
.navigation__pic {
	float: left;
	height: 85px;
	width: 85px;
}
.navigation-desc__button {
	background-color: #73A6DA;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 28px;
	padding: 5px;
	width: 205px;
}
.navigation-desc__button:hover {
	background-color: #5F85BA;
}
.navigation__desc {
	float: right;
	width: 215px;
}
.navigation-desc__text {
	padding: 5px;
}
